

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta name="author" content="Henry Jesuiter, Enrico Kalliwoda">
<meta name="description" content="Index page of the IAR / Heyfra GmbH">
<meta name="date" content="2005-06-10 11:00:00">
<meta http-equiv="expires" content="0">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="css/stile.css" media="screen">
<title>WavelineRouter</title>
<style type="text/css">
<!--
.info { font-size:10px; padding:10px; vertical-align:top; }
-->
</style>
</head>
<body>
<table width="100%" height="100%">
  <tr>
    <td>
      <table>
        <tr><td colspan="3" height="250">Please choose your preferred language!<br>
	  Bitte w&auml;hlen Sie Ihre bevorzugte Sprache!<br>
          <a href="frames.cgi?item=0&lang=englis&" target="_top"><img src="images/en.png" alt="English" border="1"> English</a><br>
	  <a href="frames.cgi?item=0&lang=deutsc&" target="_top"><img src="images/de.png" alt="Deutsch" border="1"> Deutsch</a>
	</td></tr>
        <tr>
	  <td class="info"><span style="font-weight:bold;">Weidm&uuml;ller Interface GmbH &amp; Co. KG</span><br>Klingenbergstra&szlig;e 16<br>32758 Detmold<br>Deutschland</td>
	  <td class="info">&nbsp;</td>
          <td class="info">Web:<a href="http://www.weidmueller.de" target="_blank">http://www.weidmueller.de</a></td>
	</tr>
      </table>
    </td>
    <td align="right"><img src="images/wvlrouter.jpg" title="IE-AR-100T-Wave" border="0" width="250" height="300"></td>
  </tr>
</table>
</body>
</html>

