<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta name="author" content="Enrico Kalliwoda">
<meta name="description" content="English toc-page of the IAR / Heyfra GmbH">
<meta name="date" content="2007-05-15 11:00:00">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-store">
<meta http-equiv="expires" content="0">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>OSPF</title>
<link rel="stylesheet" type="text/css" href="css/stile.css" media="screen">
<style type="text/css">

/* begin css tabs */

ul#tabnav { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 1em 0; /* set margins as desired */
font: bold 11px verdana, arial, sans-serif; /* set font as desired */
border-bottom: 1px solid black; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
display: inline;
}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4 { /* settings for selected tab */
border-bottom: none; /* set border color to page background color */
/*background-color: #fff; /* set background color to match above border color */
}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a { /* settings for selected tab link */
/*background-color: gray; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
/*top: 1px;*/
padding-top: 3px; /* must change with respect to padding (X) above and below */
border-bottom: 1px solid #C0C0C0;
}

ul#tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid black; /* set border COLOR as desired; usually matches border color specified in #tabnav */
/*background-color: #ff9933; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
background: #fff; /* set desired hover color */
}

/* end css tabs */

</style>
<script src="deutsc/auxfunc.js" type="text/javascript"></script>
<script type="text/javascript">

function setdisabled(cb)
{
    var c0=  ! document.ospfForm.ospf_service.checked;
    var c1=  c0 || ! document.ospfForm.if1.checked;
    var c2=  c0 || ! document.ospfForm.if2.checked;
  
    if (cb==0) {
        document.ospfForm.rname.disabled = c0;
        document.ospfForm.authkey.disabled = c0;
        document.ospfForm.ospf_static.disabled = c0;
        document.ospfForm.Zebra_Pass.disabled = c0;
        document.ospfForm.Zebra_PassRe.disabled = c0;
        document.ospfForm.prio1.disabled = c0;
        document.ospfForm.if1.disabled = c0;
        document.ospfForm.if2.disabled = c0;
    }
    if (cb==0 || cb==1) {
        document.ospfForm.hello1.disabled = c1;
        document.ospfForm.dead1.disabled = c1;
        document.ospfForm.nettyp1.disabled = c1;
    }
    if (cb==0 || cb==2) {
        document.ospfForm.hello2.disabled = c2;
        document.ospfForm.dead2.disabled = c2;
        document.ospfForm.nettyp2.disabled = c2;
   }
}

function checkValues()
{
    if(document.ospfForm.ospf_service.checked) {
        if(document.ospfForm.rname.value.length <= 0) {
            alert("Bitte einen Namen einf&uuml;gen!");
            document.ospfForm.rname.focus();
            return false;
        }
        if(document.ospfForm.authkey.value.length <= 0) {
            alert("Bitte einen Authentifzierungsschlüssel einf&uuml;gen!");
            document.ospfForm.authkey.focus();
            return false;
        }

        area1_prio=document.ospfForm.prio1.value;
        if(isNaN(area1_prio) || (area1_prio < 0) || (area1_prio > 255)) {
            alert("Die Priorit&auml;t muss zwischen 0 und 255 liegen!");
            document.ospfForm.prio1.focus();
            return false;
        }
    }

    document.ospfForm.submit();
}

function chooseDiv(number)
{
    for (i=1;i<3;i++) {
      document.getElementById(String(i)).style.display = (i==number) ? "inline" : "none";
      document.body.id=(i==number) ? "tab"+number : document.body.id;
    }
}

//-->
</script>
</head>
<body onLoad="chooseDiv(1);" id="tab1">
<form action="config.cgi" method="post" target="Main" name="ospfForm">
  <input type="hidden" name="lang" value="deutsc">
  <input type="hidden" name="item" value="45">
  <input type="hidden" name="act" value="1">
<table><tr>
  <td><input type="checkbox" name="ospf_service" value="yes" onclick="setdisabled(0);" {OPT_OSPF}></td><td>OSPF aktivieren</td>
</tr></table>
<fieldset><legend>OSPF allgemein</legend>
  <table>
  <tr>
    <td>Routername</td>
    <td><input type="text" size="15" maxlength="25" name="rname" value="{OSPF_HOSTNAME}" {OSPF_ENABLED}></td>
    <td colspan="2">frei w&auml;hlbar, aber wenigstens ein Zeichen</td>
  </tr>
  <tr>
    <td>Authentifizierung</td>
    <td><input type="text" size="15" maxlength="25" name="authkey" value="{OSPF_AUTH_KEY}" {OSPF_ENABLED}></td>
    <td colspan="2">Schl&uuml;ssel zur Authentifizierung der Router untereinander</td>
  </tr>
  <tr>
    <td>Telnet-Passwort</td>
    <td> <input type="password" size="10" maxlength="8" name="Zebra_Pass" value="" {OSPF_ENABLED}> </td>
    <td>wiederholt <input type="password" size="10" maxlength="8" name="Zebra_PassRe" value="" {OSPF_ENABLED}>(max. 8 Zeichen)</td>
  </tr>
  <tr>
    <td>statische Routen verteilen</td>
    <td><input type="checkbox" name="ospf_static" value="yes" {OSPF_PROPAGATE_STATIC} {OSPF_ENABLED}></td>
  </tr>
  <tr>
    <td>Priorit&auml;t</td>
    <td><input type="text" size="15" maxlength="25" name="prio1" value="{OSPF_AREA1_PRIO}" {OSPF_ENABLED}></td>
    <td>Priorit&auml;t bei Broadcast-Netzwerken</td>
  </tr>
  </table>
</fieldset>
<fieldset><legend>Interfaces</legend>
<ul id="tabnav">
  <li name="LAN" class="tab1"><a href="#" onClick="chooseDiv(1);">LAN</a></li>
  <li name="WAN" class="tab2"><a href="#" onClick="chooseDiv(2);">WAN</a></li>
</ul>

  <div id="1" style="display:none;">
  <table>
  <tr>
  <td>OSPF an LAN Schnittstelle</td>
  <td><input type="checkbox" name="if1" value="yes" onclick="setdisabled(1);" {CHECK1} {OSPF_ENABLED}></td>
  </tr>
  <tr>
    <td>Hello-Intervall</td>
    <td><input type="text" size="15" maxlength="25" name="hello1" value="{OSPF_ETH0_HELLO}" {ETH0_ENABLED}></td>
    <td>zwischen zwei Link-State Advertisements (in Sekunden)</td>
  </tr>
  <tr>
    <td>Router-Dead-Intervall</td>
    <td><input type="text" size="15" maxlength="25" name="dead1" value="{OSPF_ETH0_DEAD}" {ETH0_ENABLED}></td>
    <td>etwa das 4fache des Hello-Intervalls</td>
  </tr>
  <tr>
    <td>Netzwerktyp</td>
    <td><select name="nettyp1" {ETH0_ENABLED}>{OSPF_ETH0_NET}
        </select>
    </td>
    <td>Typ des an diesem Interface angeschlossenen Netzwerks</td>
  </tr>
  </table>
  </div>

  <div id="2" style="display:none;">
  <table>
  <tr>
  <td>OSPF an WAN Schnittstelle</td>
  <td><input type="checkbox" name="if2" value="yes" onclick="setdisabled(2);" {CHECK2} {OSPF_ENABLED}></td>
  </tr>
  <tr>
    <td>Hello-Intervall</td>
    <td><input type="text" size="15" maxlength="25" name="hello2" value="{OSPF_ETH1_HELLO}" {ETH1_ENABLED}></td>
    <td>zwischen zwei Link-State Advertisements (in Sekunden)</td>
  </tr>
  <tr>
    <td>Router-Dead-Intervall</td>
    <td><input type="text" size="15" maxlength="25" name="dead2" value="{OSPF_ETH1_DEAD}" {ETH1_ENABLED}></td>
    <td>etwa das 4fache des Hello-Intervalls</td>
  </tr>
  <tr>
    <td>Netzwerktyp</td>
    <td><select name="nettyp2" {ETH1_ENABLED}>{OSPF_ETH1_NET}
        </select>
    </td>
    <td>Typ des an diesem Interface angeschlossenen Netzwerks</td>
  </tr>
  </table>
  </div>
</fieldset>
<table align="right">
    <tr>
      <td><input type="reset" name="Cancel_Button" value="Abbrechen"></td>
      <td><input type="button" name="OK_Button" value="&Uuml;bernehmen" onclick="checkValues()"></td>
    </tr>
</table>
</form>
</body>
</html>
