<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta name="author" content="Henry Jesuiter, Enrico Kalliwoda">
<meta name="description" content="English toc-page of the IAR / Heyfra GmbH">
<meta name="date" content="2005-12-10 18:00:00">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-store">
<meta http-equiv="expires" content="0">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>SNMP</title>
<link rel="stylesheet" type="text/css" href="css/stile.css" media="screen">
<script src="deutsc/auxfunc.js" type="text/javascript"></script>
<script type="text/javascript">
<!--

function checkValues() {
  var result=true;

  if(document.snmpForm.sysname.value.length <= 0) {
    alert("Bitte geben Sie einen Systemnamen an!");
    document.snmpForm.sysname.focus();
    result=false;
  }
  if(result) if(document.snmpForm.location.value.length <= 0) {
    alert("Bitte geben Sie einen Systemort an!");
    document.snmpForm.location.focus();
    result=false;
  }
  if(result) if(document.snmpForm.contact.value.length <= 0) {
    alert("Bitte geben Sie einen Verantwortlichen an!");
    document.snmpForm.contact.focus();
    result=false;
  }
  if(result) if(document.snmpForm.rocomm.value.length <= 0) {
    alert("Bitte geben Sie die Community fuer Lesezugriff an!");
    document.snmpForm.rocomm.focus();
    result=false;
  }
  if(result) if(document.snmpForm.rwcomm.value.length <= 0) {
    alert("Bitte geben Sie die Community fuer Schreibzugriff an!");
    document.snmpForm.rwcomm.focus();
    result=false;
  }
  if(result) if(document.snmpForm.trapcomm.value.length <= 0) {
    alert("Bitte geben Sie die Community fuer Trap-Zugriff an!");
    document.snmpForm.trapcomm.focus();
    result=false;
  }
  if(result) if(document.snmpForm.authpwd.value.length < 8 && document.snmpForm.authpwd.value.length > 0) {
    alert("Das Authentifizierungspasswort muss mindestens 8 Zeichen lang sein!");
    document.snmpForm.authpwd.focus();
    result=false;
  }
  if(result) if(document.snmpForm.authpwd.value != document.snmpForm.authpwdRe.value) {
    alert("Die Authentifizierungspassworte stimmen nicht ueberein!");
    document.snmpForm.authpwd.value = document.snmpForm.authpwdRe.value = "";
    document.snmpForm.authpwd.focus();
    result=false;
  }
  if(result) if(document.snmpForm.privpwd.value.length < 8 && document.snmpForm.privpwd.value.length > 0) {
    alert("Das Verschluesselungspasswort muss mindestens 8 Zeichen lang sein!");
    document.snmpForm.privpwd.focus();
    result=false;
  }
  if(result) if(document.snmpForm.privpwd.value != document.snmpForm.privpwdRe.value) {
    alert("Die Verschluesselungspassworte stimmen nicht ueberein!");
    document.snmpForm.privpwd.value = document.snmpForm.privpwdRe.value = "";
    document.snmpForm.privpwd.focus();
    result=false;
  }
  if(result==true) document.snmpForm.submit();
}


function addEntry() {
  var ip=document.snmpForm.trapsink.value;

  if((ip.length != 0) && isValidIP(ip)) {
    var entry=new Option(ip, false, false);
    document.snmpForm.sink_list.options[document.snmpForm.sink_list.length]=entry;
    document.snmpForm.sinklist.value=document.snmpForm.sinklist.value + ip + " ";
  } else {
    alert("Bitte eine korrekte Hostadresse angeben!");
    document.snmpForm.trapsink.focus();
  }
}

function delEntry() {
  if(document.snmpForm.sink_list.selectedIndex != -1) {
    var index=document.snmpForm.sink_list.selectedIndex;
    var nets=document.snmpForm.sinklist.value;
    var netArray=nets.split(" ");
    var newnets=""
    for (i=0; i<document.snmpForm.sink_list.length; ++i) {
      if (i != index) newnets = newnets + netArray[i] + " ";
    }
    document.snmpForm.sink_list.options[index]=null;
    document.snmpForm.sinklist.value=newnets;
  } else {
    alert("Bitte waehlen Sie einen zu loeschenden Eintrag!");
  }
}


//-->
</script>
</head>
<body>
<form action="config.cgi" method="post" target="Main" name="snmpForm">
  <input type="hidden" name="lang" value="deutsc">
  <input type="hidden" name="item" value="39">
  <input type="hidden" name="act" value="1">
<fieldset><legend>SNMP</legend>
  <table>
  <tr>
    <td>Systemname</td>
    <td><input type="text" size="20" maxlength="127" name="sysname" value="{SNMPSYSNAME}"></td>
    <td>SNMP-Name des Routers(sysname)</td>
  </tr>
  <tr>
    <td>Systemort</td>
    <td><input type="text" size="20" maxlength="127" name="location" value="{SNMPSYSLOC}"></td>
    <td>Aufstellungsort (syslocation)</td>
  </tr>
  <tr>
    <td>Verantwortlicher</td>
    <td><input type="text" size="20" maxlength="32" name="contact" value="{SNMPSYSCONT}"></td>
    <td>Kontaktdaten des Systemverantwortlichen (syscontact)</td>
  </tr>
  <tr>
    <td>Lesezugriff</td>
    <td><input type="text" size="20" maxlength="32" name="rocomm" value="{SNMPROCOMM}"></td>
    <td>Community f&uuml;r Lesezugriff (rocommunity)</td>
  </tr>
  <tr>
    <td>Schreibzugriff</td>
    <td><input type="text" size="20" maxlength="32" name="rwcomm" value="{SNMPRWCOMM}"></td>
    <td>Community f&uuml;r Schreib- und Lesezugriff (rwcommunity)</td>
  </tr>
  <tr>
    <td>Trap-Zugriff</td>
    <td><input type="text" size="20" maxlength="32" name="trapcomm" value="{SNMPTRAPCOMM}"></td>
    <td>Community f&uuml;r Trapzugriff (trapcommunity)</td>
  </tr>
  <tr>
    <td>Trap-Ziel</td>
    <td><input type="text" size="20" maxlength="15" name="trapsink" value=""></td>
    <td>IP-Adresse des Rechners, der die SNMP-Traps empfangen soll (trapsink)</td>
  </tr>
  <tr>
    <td colspan="3"><input type="button" name="Add_Button" value="Hinzuf&uuml;gen" onclick="addEntry()"></td>
  </tr>
  </table>
  <hr>
  <table>
  <tr>
    <th>Konfigurierte Targets</th>
  </tr>
  <tr>
    <td><select name="sink_list" size="4">{SINKOPTS}
    </select></td>
  </tr>
  <tr>
    <td>
      <input type="button" name="Del_Button" value="L&ouml;schen" onclick="delEntry()">
    </td>
  </tr>
  </table>
</fieldset>
<input type="hidden" name="sinklist" value="{SINKLIST}">
<fieldset><legend>SNMPv3</legend>
  <table>
  <tr>
    <td>Nutzername</td>
    <td><input type="text" size="20" maxlength="32" name="v3name" value="{SNMPV3NAME}"></td>
    <td>Name des SNMPv3-Nutzers</td>
  </tr>
  <tr>
    <td>Authentifizierungstyp</td>
    <td><input type="radio" name="authtype" value="MD5" {CHECK11}>MD5</td>
    <td><input type="radio" name="authtype" value="SHA" {CHECK12}>SHA</td>
  </tr>
  <tr>
    <td>Authentifizierungs-Passwort</td>
    <td><input type="password" size="20" maxlength="25" name="authpwd" value=""></td>
    <td>wiederholt <input type="password" size="20" maxlength="25" name="authpwdRe" value=""></td>
  </tr>
  <tr>
    <td>Verschl&uuml;sselungsprotokoll</td>
    <td><input type="radio" name="privprot" value="DES" {CHECK21}>DES</td>
    <td><input type="radio" name="privprot" value="AES" {CHECK22}>AES</td>
  </tr>
  <tr>
    <td>Verschl&uuml;sselungs-Passwort</td>
    <td><input type="password" size="20" maxlength="25" name="privpwd" value=""></td>
    <td>wiederholt <input type="password" size="20" maxlength="25" name="privpwdRe" value=""></td>
  </tr>
  </table>
</fieldset>
<table align="right">
    <tr>
      <td><input type="reset" name="Cancel_Button" value="Abbrechen"></td>
      <td><input type="button" name="OK_Button" value="&Uuml;bernehmen" onclick="checkValues()"></td>
    </tr>
</table>
</form>
</body>
</html>
