

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta name="author" content="Enrico Kalliwoda">
<meta name="description" content="English toc-page of the IAR / type="text" GmbH">
<meta name="date" content="2006-09-10 11:00:00">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-store">
<meta http-equiv="expires" content="0">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Routing</title>
<link rel="stylesheet" type="text/css" href="css/stile.css" media="screen">
<script type="text/javascript">
<!--
function checkValues() {
  document.fwrForm.submit();
}

function addEntry() {
  var act = document.fwrForm.actn.options[document.fwrForm.actn.options.selectedIndex].text;
  var sip = document.fwrForm.srcip.value;
  var dip = document.fwrForm.dstip.value;
  var prt = document.fwrForm.prot.options[document.fwrForm.prot.options.selectedIndex].text;
  var spt = document.fwrForm.srcports.value;
  var dpt = document.fwrForm.dstports.value;

  if((prt == "all") && ((spt.length != 0) || (dpt.length != 0))) {
    alert("If a port number is given, you have to chose the type of the protocol.");
  }

  if(sip.length == 0) {
    sip="-";
  }

  if(spt.length == 0) {
    spt="-";
  }

  if(dip.length == 0) {
    dip="-";
  }

  if(dpt.length == 0) {
    dpt="-";
  }

  var entry1 = new Option(act, act, false, false);
  var entry2 = new Option(sip, sip, false, false);
  var entry3 = new Option(dip, dip, false, false);
  var entry4 = new Option(prt, prt, false, false);
  var entry5 = new Option(spt, spt, false, false);
  var entry6 = new Option(dpt, dpt, false, false);

  document.fwrForm.act_list.options[document.fwrForm.act_list.length]=entry1;
  document.fwrForm.actlist.value=document.fwrForm.actlist.value + act + " ";
  document.fwrForm.srchost_list.options[document.fwrForm.srchost_list.length]=entry2;
  document.fwrForm.srchostlist.value=document.fwrForm.srchostlist.value + sip + " ";
  document.fwrForm.dsthost_list.options[document.fwrForm.dsthost_list.length]=entry3;
  document.fwrForm.dsthostlist.value=document.fwrForm.dsthostlist.value + dip + " ";
  document.fwrForm.prot_list.options[document.fwrForm.prot_list.length]=entry4;
  document.fwrForm.protlist.value=document.fwrForm.protlist.value + prt + " ";
  document.fwrForm.srcport_list.options[document.fwrForm.srcport_list.length]=entry5;
  document.fwrForm.srcportlist.value=document.fwrForm.srcportlist.value + spt + " ";
  document.fwrForm.dstport_list.options[document.fwrForm.dstport_list.length]=entry6;
  document.fwrForm.dstportlist.value=document.fwrForm.dstportlist.value + dpt + " ";
}


  function delEntry() {
    if(document.fwrForm.act_list.selectedIndex != -1) {
      var idx=document.fwrForm.act_list.selectedIndex;
      var act=document.fwrForm.actlist.value;
      var actArray=act.split(" ");
      var sip=document.fwrForm.srchostlist.value;
      var sipArray=sip.split(" ");
      var dip=document.fwrForm.dsthostlist.value;
      var dipArray=dip.split(" ");
      var prt=document.fwrForm.protlist.value;
      var prtArray=prt.split(" ");
      var spt=document.fwrForm.srcportlist.value;
      var sptArray=spt.split(" ");
      var dpt=document.fwrForm.dstportlist.value;
      var dptArray=dpt.split(" ");

      var newact="";
      var newsip="";
      var newdip="";
      var newprt="";
      var newspt="";
      var newdpt="";
      for (i=0; i<document.fwrForm.act_list.length; ++i) {
        if (i != idx) {
          newact = newact + actArray[i] + " ";
          newsip = newsip + sipArray[i] + " ";
          newdip = newdip + dipArray[i] + " ";
          newprt = newprt + prtArray[i] + " ";
          newspt = newspt + sptArray[i] + " ";
          newdpt = newdpt + dptArray[i] + " ";
        }
      }
      document.fwrForm.actlist.value=newact;
      document.fwrForm.srchostlist.value=newsip;
      document.fwrForm.dsthostlist.value=newdip;
      document.fwrForm.protlist.value=newprt;
      document.fwrForm.srcportlist.value=newspt;
      document.fwrForm.dstportlist.value=newdpt;
      document.fwrForm.act_list.options[idx]=null;
      document.fwrForm.srchost_list.options[idx]=null;
      document.fwrForm.dsthost_list.options[idx]=null;
      document.fwrForm.prot_list.options[idx]=null;
      document.fwrForm.srcport_list.options[idx]=null;
      document.fwrForm.dstport_list.options[idx]=null;
    } else {
      alert("Please select an entry to delete!");
    }
  }


  function isValidIP(ip, type) {
    var result=true;

    var numbers=ip.split(".");

    if(numbers.length !=4) {
      alert("This is no IP address. Please check!");
      result=false;
    } else {
      for(i=0;i<numbers.length;++i) {
        if(isNaN(numbers[i]) || (numbers[i]<0) || (numbers[i]>255)) {
          alert("This is no IP address. Please check!");
          result=false;
	  break;
	}
      }

      if(type=="Netzwerk") {
        if(numbers[3] != 0) {
          alert("This is no network IP. Network addresses always end up with zero (x.x.x.0)!");
          result=false;
        }
      } else {
        if(numbers[3] == 0) {
          alert("This is no host IP. You inserted a network address (x.x.x.0)!");
          result=false;
	}
        if(numbers[3] == 255) {
          alert("This is no host IP. You inserted a broadcast address (x.x.x.255)!");
          result=false;
	}
      }

      if(numbers[0] >= 224) {
        alert("This is no " + type + " IP address. You inserted a multicast address!");
        result=false;
      }

      if(numbers[0] == 127) {
        alert("This is no " + type + " IP address. The address range 127.x.x.x is reserved!");
        result=false;
      }
    }

    return result;
  }


  function choose(idx) {
    for(i=0;i<document.fwrForm.act_list.length;++i) {
       document.fwrForm.act_list.options[i].selected=false;
       document.fwrForm.srchost_list.options[i].selected=false;
       document.fwrForm.dsthost_list.options[i].selected=false;
       document.fwrForm.prot_list.options[i].selected=false;
       document.fwrForm.srcport_list.options[i].selected=false;
       document.fwrForm.dstport_list.options[i].selected=false;
    }
    document.fwrForm.act_list.options[idx].selected=true;
    document.fwrForm.srchost_list.options[idx].selected=true;
    document.fwrForm.dsthost_list.options[idx].selected=true;
    document.fwrForm.prot_list.options[idx].selected=true;
    document.fwrForm.srcport_list.options[idx].selected=true;
    document.fwrForm.dstport_list.options[idx].selected=true;
  }

//-->
</script>
</head>
<body>
<form action="config.cgi" method="post" target="Main" name="fwrForm">
  <input type="hidden" name="lang" value="englis">
  <input type="hidden" name="item" value="36">
  <input type="hidden" name="act" value="1">
  <fieldset><legend>Special FORWARD rules</legend>
    <table>
    <tr>
      <td>action</td>
      <td>
        <select name="actn">
          <option>DROP</option>
          <option>REJECT</option>
          <option>ACCEPT</option>
        </select>
      </td>
      <td>what should happen to the packets</td>
    </tr>
    <tr>
      <td>protocol</td>
      <td>
        <select name="prot">
          <option selected>ALL</option>
          <option>tcp</option>
          <option>udp</option>
          <option>icmp</option>
        </select>
      </td>
      <td>denied/accepted protocol</td>
    </tr>
    <tr>
      <td>source host</td>
      <td><input type="text" size="15" maxlength="15" name="srcip"></td>
      <td>Host IP address the packets stem from.</td>
    </tr>
    <tr>
      <td>source port (range)</td>
      <td><input type="text" size="11" maxlength="11" name="srcports"></td>
      <td>The host's port/port range the packets go to.</td>
    </tr>
    <tr>
      <td>destination host</td>
      <td><input type="text" size="15" maxlength="15" name="dstip"></td>
      <td>Host IP address the packets should be forwarded to</td>
    </tr>
    <tr>
      <td>destination port (range)</td>
      <td><input type="text" size="11" maxlength="11" name="dstports"></td>
      <td>The host's port/port range the packets should be forwarded to</td>
    </tr>
    <tr>
      <td>
        <input type="button" name="AddHost_Button" value="Add" onclick="addEntry()"><br>
      </td>
    </tr>
    </table>
    <hr>
    <table>
    <tr>
      <th colspan="6">configured Forward rules</th>
    </tr>
    <tr>
      <td>action</td>
      <td>protocol</td>
      <td>src host</td>
      <td>src port</td>
      <td>dst host</td>
      <td>dst port</td>
    </tr>
    <tr>
      <td><select name="act_list" size="10" onchange="choose(document.fwrForm.act_list.selectedIndex)">{ACTOPTS}
      </select></td>
      <td><select name="prot_list" size="10" onchange="choose(document.fwrForm.prot_list.selectedIndex)">{PROTOPTS}
      </select></td>
      <td><select name="srchost_list" size="10" onchange="choose(document.fwrForm.srchost_list.selectedIndex)">{SRCHOSTOPTS}
      </select></td>
      <td><select name="srcport_list" size="10" onchange="choose(document.fwrForm.srcport_list.selectedIndex)">{SRCPORTOPTS}
      </select></td>
      <td><select name="dsthost_list" size="10" onchange="choose(document.fwrForm.dsthost_list.selectedIndex)">{DSTHOSTOPTS}
      </select></td>
      <td><select name="dstport_list" size="10" onchange="choose(document.fwrForm.dstport_list.selectedIndex)">{DSTPORTOPTS}
      </select></td>
      </tr>
      <tr>
      <td colspan=5>
        <input type="button" name="DelHost_Button" value="Delete" onclick="delEntry()">
      </td>
    </tr>
    </table>
  </fieldset>
  <input type="hidden" name="actlist" value="{ACTLIST}">
  <input type="hidden" name="srchostlist" value="{SRCHOSTLIST}">
  <input type="hidden" name="dsthostlist" value="{DSTHOSTLIST}">
  <input type="hidden" name="protlist" value="{PROTLIST}">
  <input type="hidden" name="srcportlist" value="{SRCPORTLIST}">
  <input type="hidden" name="dstportlist" value="{DSTPORTLIST}">
  <table align="right">
  <tr>
    <td><input type="reset" name="Cancel_Button" value="Cancel"></td>
    <td><input type="button" name="OK_Button" value="Apply" onclick="checkValues()"></td>
  </tr>
  </table>
</form>
</body>
</html>
