

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta name="author" content="Enrico Kalliwoda">
<meta name="description" content="Waveline router / Weidmueller Heyfra GmbH u. Co. KG">
<meta name="date" content="2009-05-18 11:00:00">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-store">
<meta http-equiv="expires" content="0">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Portfilter-Konfiguration </title>
<link rel="stylesheet" type="text/css" href="css/stile.css" media="screen">
<script type="text/javascript">
<!--

function checkValues() {
  var result=true;
  if (document.certForm.so_pwd.value.length == 0) {
    result = false;
    alert ("Please insert a password!");
    document.certForm.so_pwd.focus();
  }
  if (result) document.certForm.submit();
}


function choose(index) {
  for(i=0; i<document.certForm.numb_list.options.length; ++i) {
    document.certForm.numb_list.options[index].selected=false;
    document.certForm.state_list.options[index].selected=false;
    document.certForm.comname_list.options[index].selected=false;
    document.certForm.expdate_list.options[index].selected=false;
  }
  document.certForm.numb_list.options[index].selected=true;
  document.certForm.state_list.options[index].selected=true;
  document.certForm.comname_list.options[index].selected=true;
    document.certForm.expdate_list.options[index].selected=true;

  document.certForm.revoke_Button.disabled =
    (document.certForm.state_list.options[document.certForm.state_list.selectedIndex].value != "V");
  document.certForm.validate_Button.disabled =
    (document.certForm.state_list.options[document.certForm.state_list.selectedIndex].value != "R");
}

function   makelists() {
  if (document.certForm.numb_list.options.length > 0 ) {
    document.certForm.numblist.value = document.certForm.numb_list.options[0].value;
    document.certForm.statelist.value =  document.certForm.state_list.options[0].value;
    document.certForm.comnamelist.value = document.certForm.comname_list.options[0].value;
    document.certForm.expdatelist.value = document.certForm.expdate_list.options[0].value;
    for (i=1; i<document.certForm.numb_list.options.length; i++) {
      document.certForm.numblist.value = document.certForm.numblist.value + "|" + document.certForm.numb_list.options[i].value;
      document.certForm.statelist.value = document.certForm.statelist.value + "|" + document.certForm.state_list.options[i].value;
      document.certForm.comnamelist.value = document.certForm.comnamelist.value + "|" + document.certForm.comname_list.options[i].value;
      document.certForm.expdatelist.value = document.certForm.expdatelist.value + "|" + document.certForm.expdate_list.options[i].value;
    }
  } else {
    document.certForm.numblist.value = document.certForm.statelist.value =
    document.certForm.comnamelist.value = document.certForm.expdatelist.value = "";
  }
}

function revoke() {
  if (document.certForm.state_list.selectedIndex < 0) {
    alert("Please chosse an entry!");
  } else {
    document.certForm.state_list.options[document.certForm.state_list.selectedIndex].value =
    document.certForm.state_list.options[document.certForm.state_list.selectedIndex].text = "R";
    document.certForm.revoke_Button.disabled = true;
    document.certForm.validate_Button.disabled = false;
    makelists();
  }
}

function validate() {
  if (document.certForm.state_list.selectedIndex < 0) {
    alert("Please chosse an entry!");
  } else {
    document.certForm.state_list.options[document.certForm.state_list.selectedIndex].value =
    document.certForm.state_list.options[document.certForm.state_list.selectedIndex].text = "V";
    document.certForm.revoke_Button.disabled = false;
    document.certForm.validate_Button.disabled = true;
    makelists();
  }
}
/*
function certdel() {
  document.certForm.numb_list.options[document.certForm.numb_list.selectedIndex] = null;
  document.certForm.state_list.options[document.certForm.state_list.selectedIndex] = null;
  document.certForm.comname_list.options[document.certForm.comname_list.selectedIndex] = null;
  makelists();
}
*/
//-->
</script>
</head>
<body onload="makelists();">
<form action="config.cgi" method="post" target="Main" name="certForm">
<input type="hidden" name="lang" value="englis">
<input type="hidden" name="item" value="27">
<input type="hidden" name="act" value="1">
<fieldset><legend>Certification management</legend>
<table>
  <tr>
    <td colspan="5">
      The router's system date: {SYSTEMDATUM}
    </td>
  </tr>
<tr>
  <td colspan="3">Security officer password</td>
  <td colspan="2"><input type="password" size="15" maxlength="12" name="so_pwd" value="">
  </td>
</tr>
<tr>
  <td>No.</td>
  <td>Status</td>
  <td>Common Name</td>
  <td>expires on</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td><select name="numb_list" size="15"  onchange="choose(document.certForm.numb_list.selectedIndex);">{NUMBOPTS}
  </select></td>
  <td><select name="state_list" size="15"  onchange="choose(document.certForm.state_list.selectedIndex);">{STATEOPTS}
  </select></td>
  <td><select name="comname_list" size="15"  onchange="choose(document.certForm.comname_list.selectedIndex);">{COMNAMEOPTS}
  </select></td>
  <td><select name="expdate_list" size="15"  onchange="choose(document.certForm.expdate_list.selectedIndex);">{EXPDATEOPTS}
  </select></td>
  <td>
    <input type="button" name="revoke_Button" value="Revoke" onclick="revoke();" disabled><br>
    <input type="button" name="validate_Button" value="Validate" onclick="validate();" disabled>
  </td>
</tr>
</table>
</fieldset>
  <input type="hidden" name="numblist" value="{NUMBLIST}">
  <input type="hidden" name="statelist" value="{STATELIST}">
  <input type="hidden" name="comnamelist" value="{COMNAMELIST}">
  <input type="hidden" name="expdatelist" value="{EXPDATELIST}">
<table align="right">
<tr>
  <td><input type="reset" name="Cancel_Button" value="Cancel"></td>
  <td><input type="button" name="OK_Button" value="Apply" onclick="checkValues()"></td>
</tr>
</table>
</form>
<form>
</body>
</html>
