

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta name="author" content="Henry Jesuiter, Enrico Kalliwoda">
<meta name="description" content="English toc-page of the IAR / Heyfra GmbH">
<meta name="date" content="2005-06-10 11:00:00">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-store">
<meta http-equiv="expires" content="0">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Firmware - Update</title>
<link rel="stylesheet" type="text/css" href="css/stile.css" media="screen">
</head>
<body>
<h2>Firmware - Update</h2>
<p>A firmware update is currently runnig. Configuration, save and reboot are temporarily not allowed!</p>
</body>
</html>
